body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}

li {
  margin: 8px;
}

/* .input-area {
  background-color: skyblue;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
} */

.incomplete-area {
  background-color: springgreen;
  width: 400px;
  height: 200px;
  padding: 8px;
  margin: 8px;
  border-top-left-radius: 8px;
}

.complete-area {
  background-color: pink;
  width: 400px;
  height: 200px;
  padding: 8px;
  margin: 8px;
  border-top-left-radius: 8px;
}

.title {
  text-align: center;
  margin: top;
  font-weight: bold;
  color: #6666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
